/*
* Prefixed by:
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 2 version
*/

:root {
    --link-color-primary: #750000;
    --link-color-visited: #900;
    --link-color-active: #ff1a1a;
    --link-color-shadow: rgba(43, 43, 43, 0.4);
    --error-text-color: #be0000;
    --background-color: #f8faf9;
    --card-color: #dcd9d9;
    --button-color-primary: #357b70;
    --button-font-color: #fff;
    --shadow-color: #2b2b2b;
    --border-color: rgba(43, 43, 43, 0.4);
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    font-family: "Titillium Web", "sans-serif";
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
}

main {
    margin: 150px auto 0;
    padding: 0 20px;
    text-align: center;
    max-width: 1000px;
}

h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 2;
}

h2 {
    font-size: 30;
    font-weight: 600;
    line-height: 1.8;
}

a {
    color: var(--link-color-primary);
    text-decoration: none;
    -webkit-transition: text-shadow 0.2s;
    -o-transition: text-shadow 0.2s;
    transition: text-shadow 0.2s;
}

a:visited {
    /* visited link */
    color: var(--link-color-visited);
}

a:hover,
a:focus {
    /* No underlining hoverwing over a link */
    text-decoration: none;
    text-shadow: 1px 1px 3px var(--link-color-shadow);
}

a:active {
    /* selected link */
    color: var(--link-color-active);
}

button,
.button,
.button:visited,
input[type="submit"] {
    border: none;
    background-color: var(--button-color-primary);
    color: var(--button-font-color);
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid var(--border-color);
    -webkit-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

button:hover,
button:focus,
.button:hover,
.button:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
    cursor: pointer;
    opacity: 0.8;
}

.navigation-list {
    list-style-type: none;
    padding: 0 10px;
}

.navigation-list li {
    display: inline-block;
    margin-left: 15px;
}

.navigation-list__item,
.navigation-list__item--active,
.navigation-list__item:hover,
.navigation-list__item--active:hover {
    padding: 10px;
    position: relative;
    text-shadow: none;
    margin: 10px auto 0;
    display: inline-block;
}

/* navigation element border */

.navigation-list__item::before,
.navigation-list__item::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--link-color-visited);
    -webkit-transform: scaleX(0);
            -ms-transform: scaleX(0);
        transform: scaleX(0);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.navigation-list__item::before {
    top: 0;
    -webkit-transform-origin: left;
            -ms-transform-origin: left;
        transform-origin: left;
}

.navigation-list__item::after {
    bottom: 0;
    -webkit-transform-origin: right;
            -ms-transform-origin: right;
        transform-origin: right;
}

.navigation-list__item:hover::before,
.navigation-list__item:hover::after {
    -webkit-transform: scaleX(1);
            -ms-transform: scaleX(1);
        transform: scaleX(1);
}

/* navigation element border on active element */

.navigation-list__item--active::before,
.navigation-list__item--active::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--link-color-visited);
    -webkit-transform: scaleX(1);
            -ms-transform: scaleX(1);
        transform: scaleX(1);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.navigation-list__item--active::before {
    top: 0;
    -webkit-transform-origin: left;
            -ms-transform-origin: left;
        transform-origin: left;
}

.navigation-list__item--active::after {
    bottom: 0;
    -webkit-transform-origin: right;
            -ms-transform-origin: right;
        transform-origin: right;
}

.navigation-list__item--active:hover::before,
.navigation-list__item--active:hover::after {
    -webkit-transform: scaleX(0);
            -ms-transform: scaleX(0);
        transform: scaleX(0);
}

/* profile div  */

.profile {
    max-width: 700px;
    margin: 150px auto;
    padding: 0 20px;
}

.profile__portrait {
    float: left;
    width: 250px;
    margin-right: 40px;
    border-radius: 50%;
    border: 1px solid black;
    -webkit-box-shadow: 2px 2px 10px var(--shadow-color);
            box-shadow: 2px 2px 10px var(--shadow-color);
}

.project-screenshot {
    max-width: 100%;
    margin: auto;
}

table {
    margin: auto;
}

th {
    padding: 5px 10px;
}

.input-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 10px;
}

.input-container label {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100px;
            flex: 1 0 100px;
    max-width: 150px;
}

.input-container input,
.input-container textarea {
    -ms-flex-preferred-size: 200px;
        flex-basis: 200px;
    border: 1px solid var(--border-color);
}

.error-message {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    color: var(--error-text-color);
}

/* footer styles */

.page-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    clear: both;
}

/* header styles */

.page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--background-color);
    min-width: 320px;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
}

.page-header__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
}

img.page-header__item {
    -o-object-fit: contain;
       object-fit: contain;
    width: 270px;
}

.page-header__item:last-child {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: right;
}

/* projects grid */

.project-list__item {
    display: inline-block;
    width: 30%;
    padding: 5px;
    margin: 5px;
    background-color: var(--card-color);
}

.project-grid__item {
    display: inline-block;
    width: 49%;
    padding: 5px;
    margin: 5px;
    text-align: left;
}

@supports (display: grid) {
    .project-list {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        padding: 20px;
    }

    .project-list__item {
        background-color: var(--card-color);
        width: auto;
        min-height: auto;
        margin: 0;
    }

    .project-grid {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 20px 1fr;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        padding: 20px;
    }

    .project-grid__item {
        width: auto;
        min-height: auto;
        margin: 0;
    }

    .project-button__wrapper {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        padding: 20px;
    }
}

.spinning-dragon {
    -webkit-transform-origin: 50% 40%;
            -ms-transform-origin: 50% 40%;
        transform-origin: 50% 40%;
    -webkit-animation: spinning 5s infinite linear;
            animation: spinning 5s infinite linear;
}

@media all and (max-width: 500px) {
    .project-list, .project-grid, .project-button__wrapper {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
}

@media all and (min-width: 500px) and (max-width: 750px) {
    .project-list {
        -ms-grid-columns: 1fr 20px 1fr;
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width: 676px) {
    .page-header {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 0;
    }

    .page-header img {
        width: 100%;
    }

    .page-header__item:last-child {
        text-align: center;
    }

    .navigation-list {
        padding: 0;
    }

    .navigation-list__item,
    .navigation-list__item--active,
    .navigation-list__item:hover,
    .navigation-list__item--active:hover {
        padding: 10px 0;
    }

    main {
        margin: 330px 10px 0;
    }

    .profile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin: 340px 10px 0;
    }

    .profile__portrait {
        margin: auto;
    }
}

@media all and (max-width: 750px) {
    .project-list, .project-grid {
        grid-gap: 10px;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 20px;
    }
}

@-webkit-keyframes spinning {
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@keyframes spinning {
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}